<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robo Stock</title>
    {%load static%}
    <link rel="stylesheet" href="{% static "RoboStock/css/globals.css" %}">
    <link rel="stylesheet" href="{% static "RoboStock/css/styleguide.css" %}">
    <link rel="stylesheet" href="{% static "RoboStock/css/style.css" %}">
</head>
<body>
<div class="div-wrapper">
    <div class="desktop-full">
        <a href="/"><img class="robo-stock-logo" src="https://c.animaapp.com/ebA20gBS/img/robostocklogo-2.svg" alt="Robo Stock Logo"></a>
        <div class="nav-navigation-menu">
            <a href="/about-us" class="nav-list-item"><div class="label">About Us</div></a>
            <a href="/help" class="nav-list-item"><div class="label">Help</div></a>
            <a href="/signin" class="nav-list-item"><div class="label">Sign in</div></a>
            <button class="button"><div class="text-wrapper">Sign up</div></button>
        </div>
    </div>
    <div class="desktop">
        <div class="frame">
            <div class="content">
                <div class="our-feature">OUR FEATURE</div>
                <p class="easy-way-to-invest">Easy Way to Invest<br>and Get Profit</p>
                <p class="using-the-robostock">
                    Using the RoboStock Application is an easy way to invest <br>and benefit, equipped with
                    comprehensive analysis tools and Artificial Intelligent (AI).
                </p>
                <button class="button-text-wrapper"><span class="button-text">Get Started</span></button>
            </div>
            <div class="group"></div>
        </div>
    </div>
    <div class="mywebsite-desktop">
        <div class="footer-content">
            <img class="img" src="https://c.animaapp.com/ebA20gBS/img/robostocklogo-1.svg" alt="Robo Stock Logo">
            <div class="footer-links">
                <div class="footer-column">
                    <div class="footer-header">About</div>
                    <a href="#" class="list-item">About RoboStock</a>
                    <a href="#" class="list-item">How it works</a>
                    <a href="#" class="list-item">Careers</a>
                    <a href="#" class="list-item">Press</a>
                    <a href="#" class="list-item">Blog</a>
                    <a href="#" class="list-item">Forum</a>
                </div>
                <div class="footer-column">
                    <div class="footer-header">Support</div>
                    <a href="#" class="list-item">Help Center</a>
                    <a href="#" class="list-item">Contact us</a>
                    <a href="#" class="list-item">Privacy policy</a>
                    <a href="#" class="list-item">Terms of service</a>
                    <a href="#" class="list-item">Trust and safety</a>
                    <a href="#" class="list-item">Accessibility</a>
                </div>
            </div>
            <div class="footer-column-mobile">
                <div class="footer-header">Get the app</div>
                <a href="#" class="list-item">RoboStock for Android</a>
                <a href="#" class="list-item">RoboStock for iOS</a>
                <a href="#" class="list-item">Mobile site</a>
            </div>
            <div class="link-app-store">
                <img class="element-apple-mac" src="https://c.animaapp.com/ebA20gBS/img/24---apple-mac.svg" alt="Apple Mac">
                <img class="download-on-the" src="https://c.animaapp.com/ebA20gBS/img/download-on-the-2.svg" alt="Download on the">
                <img class="app-store" src="https://c.animaapp.com/ebA20gBS/img/app-store-2.svg" alt="App Store">
            </div>
        </div>
        <img class="footer-divider" src="https://c.animaapp.com/ebA20gBS/img/footer---divider-2.svg" alt="Footer Divider">
        <div class="bottom">
            <div class="social-media-stack">
                <img class="img-2" src="https://c.animaapp.com/ebA20gBS/img/24---twitter-2.svg" alt="Twitter">
                <div class="img-2"><img class="union" src="https://c.animaapp.com/ebA20gBS/img/union-2.svg" alt="Union"></div>
                <img class="img-2" src="https://c.animaapp.com/ebA20gBS/img/24---facebook-2.svg" alt="Facebook">
            </div>
            <div class="copyright">© 2020 RoboStock incorporated</div>
        </div>
    </div>
</div>
</body>
</html>
