/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: var(--body-default-font-family);
    font-size: var(--body-default-font-size);
    font-weight: var(--body-default-font-weight);
    line-height: var(--body-default-line-height);
    letter-spacing: var(--body-default-letter-spacing);
    font-style: var(--body-default-font-style);
    color: var(--pure-white);
}

nav {
    background: var(--true-white);
    padding: 12px 0;
    width: 100%;
    
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}


nav .menu .logo a img.robo-stock-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
}

nav .menu {
    max-width: 1270px;
    padding: 0 20px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    color: var(--grey-300);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: var(--button-font-family);
    border-radius: 3px;
    margin: 0 8px;
    cursor: pointer;
    display: inline-flex;
    padding: 10px 14px;
    text-decoration: none;
    background: var(--grey-100);
    position: relative;
    box-shadow: -3px -3px 7px var(--true-white), 
                3px 3px 5px var(--grey-200);
}

.menu ul li a:hover {
    color: var(--true-white);
    background: var(--primary-200);
    transition: 0.5s;
}

.menu ul li a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    box-shadow: inset -3px -3px 7px var(--primary-100), 
                inset 3px 3px 5px var(--primary-300);
}

nav label.btn {
    color: var(--grey-600);
    cursor: pointer;
    display: none;
    font-size: var(--button-font-size);
}

nav label.close {
    position: absolute;
    top : 20px;
    left: 30px;
}

#check {
    display: none;
}

.menu ul li a.active {
    background: var(--primary-500);
    color: var(--true-white);
}

/* Footer Styles */
.footer-header {
    font-family: var(--footer-header-font-family);
    font-weight: var(--footer-header-font-weight);
    color: var(--grey-600);
    font-size: var(--footer-header-font-size);
    margin-bottom: 20px;
}

.list-item, .footer-column .robo-stock-logo {
    color: var(--grey-300);
}

footer .robo-stock-logo {
    width: 100%;
    height: auto;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px;
}

.footer-column {
    flex: 1 1 25%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.footer-divider {
    width: 100%;
    margin-top: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.social-media-stack img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.copyright {
    color: var(--grey-600);
}

/* Media Queries */
@media (max-width: 768px) {
    .footer-column {
        flex-basis: 50%;
    }
}

@media (max-width: 480px) {
    .footer-column {
        flex-basis: 100%;
    }
}

@media (max-width: 950px) {
    .menu ul {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 425px;
        height: 100%;
        padding-top: 10px;
        background: var(--gray-100);
        z-index: 12;
        transition: all 0.8s ease;
    }

    .menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu ul li a {
        display: flex;
        font-size: 20px;
        margin-top: 30px;
        width : fit-content;
        box-shadow: none;
        text-align: center;
        background: var(--gray-100);
    }

    .menu ul li a:hover, .menu ul li a.active {
        background: var(--gray-100);
        color: var(--primary-500);
    }

    .menu ul li a:hover {
        color: var(--primary-400);
    }

    .menu ul li a:hover::before {
        box-shadow: none;
    }

    nav label.menu {
        display: block;
    }

    #check:checked ~ label.menu {
        display: none; 
    }

    #check:checked ~ ul label.close {
        display: block; 
    }

    #check:checked ~ ul {
        right: 0;
        transition: all 0.8s ease;
    }

}
