:root {
  --true-white: rgba(255, 255, 255, 1);
  --purple-dark: rgba(21, 19, 160, 1);
  --purple-blue: rgba(96, 93, 236, 1);
  --purple-light: rgba(188, 186, 247, 1);
  --purple-extra-light: rgba(233, 232, 252, 1);
  --purple-white: rgba(246, 246, 254, 1);
  --blue: rgba(64, 122, 234, 1);
  --turquoise: rgba(92, 214, 192, 1);
  --red: rgba(235, 87, 87, 1);
  --grey-2: rgba(82, 82, 122, 0.2);
  --red-light: rgba(253, 239, 239, 1);
  --purple-white-light: rgba(250, 250, 254, 1);
  --deep-green: rgba(0, 123, 101, 1);
  --grey-900: rgba(39, 39, 63, 1);
  --grey-800: rgba(54, 55, 74, 1);
  --grey-700: rgba(82, 85, 111, 1);
  --grey-600: rgba(110, 116, 145, 1);
  --grey-500: rgba(101, 116, 145, 1);
  --grey-400: rgba(124, 141, 176, 1);
  --grey-300: rgba(161, 176, 204, 1);
  --grey-200: rgba(203, 212, 230, 1);
  --grey-100: rgba(250, 250, 250, 1);
  --primary-900: rgba(5, 51, 88, 1);
  --primary-800: rgba(7, 76, 131, 1);
  --primary-700: rgba(9, 102, 175, 1);
  --primary-600: rgba(12, 127, 218, 1);
  --primary-500: rgba(33, 150, 243, 1);
  --primary-400: rgba(72, 168, 245, 1);
  --primary-300: rgba(37, 157, 168, 0.08);
  --primary-200: rgba(149, 205, 249, 1);
  --primary-50: rgba(207, 232, 252, 1);
  --primary-0: rgba(250, 253, 255, 1);
  --primary-100: rgba(188, 223, 251, 1);
  --gray-900: rgba(29, 36, 42, 1);
  --gray-800: rgba(50, 62, 72, 1);
  --gray-600: rgba(92, 113, 132, 1);
  --gray-700: rgba(71, 88, 102, 1);
  --gray-500: rgba(117, 139, 159, 1);
  --gray-400: rgba(144, 162, 178, 1);
  --gray-300: rgba(171, 184, 196, 1);
  --gray-200: rgba(198, 207, 215, 1);
  --gray-100: rgba(225, 230, 234, 1);
  --gray-50: rgba(240, 243, 245, 1);
  --gray-0: rgba(255, 255, 255, 1);
  --supportgreen: rgba(0, 127, 95, 1);
  --supportred: rgba(186, 45, 11, 1);
  --supportyellow: rgba(244, 157, 55, 1);
  --foregroundnight900-high-emphasis: rgba(255, 255, 255, 1);
  --staticwhite: rgba(255, 255, 255, 1);
  --foregroundnight600-disabled: rgba(255, 255, 255, 0.32);
  --primary-900-high-emphasis: rgba(37, 157, 168, 1);
  --success-900-high-emphasis: rgba(173, 220, 123, 1);
  --warning-900-high-emphasis: rgba(252, 201, 88, 1);
  --danger900-high-emphasis: rgba(255, 134, 99, 1);
  --backgroundnight900-high-emphasis: rgba(41, 45, 63, 1);
  --foregroundnight-300: rgba(255, 255, 255, 0.08);
  --foregroundnight-100: rgba(255, 255, 255, 0.03);
  --success-300: rgba(173, 220, 123, 0.08);
  --warning-300: rgba(252, 201, 88, 0.08);
  --danger-300: rgba(255, 134, 99, 0.08);
  --backgroundnight-300: rgba(41, 45, 63, 0.08);
  --body-large-font-family: "Inter-Medium", Helvetica;
  --body-large-font-weight: 500;
  --body-large-font-size: 16px;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: 28px;
  --body-large-font-style: normal;
  --body-default-font-family: "NunitoSans-Regular", Helvetica;
  --body-default-font-weight: 400;
  --body-default-font-size: 16px;
  --body-default-letter-spacing: 0px;
  --body-default-line-height: normal;
  --body-default-font-style: normal;
  --body-small-font-family: "NunitoSans-Regular", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
  --body-extra-small-font-family: "NunitoSans-Regular", Helvetica;
  --body-extra-small-font-weight: 400;
  --body-extra-small-font-size: 12px;
  --body-extra-small-letter-spacing: 0px;
  --body-extra-small-line-height: normal;
  --body-extra-small-font-style: normal;
  --footer-header-font-family: "NunitoSans-Bold", Helvetica;
  --footer-header-font-weight: 700;
  --footer-header-font-size: 18px;
  --footer-header-letter-spacing: 0px;
  --footer-header-line-height: normal;
  --footer-header-font-style: normal;
  --header-h1-font-family: "NunitoSans-SemiBold", Helvetica;
  --header-h1-font-weight: 600;
  --header-h1-font-size: 36px;
  --header-h1-letter-spacing: 0px;
  --header-h1-line-height: normal;
  --header-h1-font-style: normal;
  --header-h2-font-family: "NunitoSans-SemiBold", Helvetica;
  --header-h2-font-weight: 600;
  --header-h2-font-size: 32px;
  --header-h2-letter-spacing: 0px;
  --header-h2-line-height: normal;
  --header-h2-font-style: normal;
  --header-h3-font-family: "NunitoSans-Bold", Helvetica;
  --header-h3-font-weight: 700;
  --header-h3-font-size: 24px;
  --header-h3-letter-spacing: 0px;
  --header-h3-line-height: normal;
  --header-h3-font-style: normal;
  --header-h4-font-family: "NunitoSans-SemiBold", Helvetica;
  --header-h4-font-weight: 600;
  --header-h4-font-size: 18px;
  --header-h4-letter-spacing: 0px;
  --header-h4-line-height: normal;
  --header-h4-font-style: normal;
  --header-h5-font-family: "NunitoSans-SemiBold", Helvetica;
  --header-h5-font-weight: 600;
  --header-h5-font-size: 16px;
  --header-h5-letter-spacing: 0px;
  --header-h5-line-height: normal;
  --header-h5-font-style: normal;
  --header-h6-font-family: "NunitoSans-SemiBold", Helvetica;
  --header-h6-font-weight: 600;
  --header-h6-font-size: 14px;
  --header-h6-letter-spacing: 0px;
  --header-h6-line-height: normal;
  --header-h6-font-style: normal;
  --body-extra-large-font-family: "Inter-Medium", Helvetica;
  --body-extra-large-font-weight: 500;
  --body-extra-large-font-size: 20px;
  --body-extra-large-letter-spacing: 0px;
  --body-extra-large-line-height: 32px;
  --body-extra-large-font-style: normal;
  --display-font-family: "Epilogue-Bold", Helvetica;
  --display-font-weight: 700;
  --display-font-size: 69px;
  --display-letter-spacing: -1.38px;
  --display-line-height: 96px;
  --display-font-style: normal;
  --button-font-family: "Poppins-SemiBold", Helvetica;
  --button-font-weight: 600;
  --button-font-size: 16px;
  --button-letter-spacing: 0px;
  --button-line-height: 24px;
  --button-font-style: normal;
  --heading-1-font-family: "Epilogue-Bold", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 58px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 58px;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Epilogue-Bold", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 48px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 72px;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Epilogue-Bold", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 40px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 64px;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Epilogue-Bold", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 34px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 48px;
  --heading-4-font-style: normal;
  --heading-5-font-family: "Epilogue-Bold", Helvetica;
  --heading-5-font-weight: 700;
  --heading-5-font-size: 28px;
  --heading-5-letter-spacing: -0.42px;
  --heading-5-line-height: 42px;
  --heading-5-font-style: normal;
  --heading-6-font-family: "Epilogue-Bold", Helvetica;
  --heading-6-font-weight: 700;
  --heading-6-font-size: 24px;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 32px;
  --heading-6-font-style: normal;
  --body-l-font-family: "Poppins-Regular", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 20px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 32px;
  --body-l-font-style: normal;
  --body-m-font-family: "Poppins-Regular", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 24px;
  --body-m-font-style: normal;
  --body-s-font-family: "Poppins-Regular", Helvetica;
  --body-s-font-weight: 400;
  --body-s-font-size: 14px;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 20px;
  --body-s-font-style: normal;
  --body-2xl-font-family: "Inter-Medium", Helvetica;
  --body-2xl-font-weight: 500;
  --body-2xl-font-size: 24px;
  --body-2xl-letter-spacing: 0px;
  --body-2xl-line-height: 36px;
  --body-2xl-font-style: normal;
  --body-regular-font-family: "Inter-Medium", Helvetica;
  --body-regular-font-weight: 500;
  --body-regular-font-size: 14px;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 24px;
  --body-regular-font-style: normal;
  --background-blur: ;
  --shadow-card-1: 0px 32px 40px -2px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  --shadow-1: 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  --elevation-medium: 0px 12px 24px 0px rgba(27, 59, 119, 0.05), 0px 24px 60px 0px rgba(6, 47, 125, 0.05),
    0px 2px 4px 0px rgba(7, 4, 146, 0.1);
  --elevation-light: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.1);
  --elevation-ultralight: 0px 12px 8px 0px rgba(0, 0, 0, 0.02), 0px 2px 2px 0px rgba(28, 5, 77, 0.05);
}
