<footer>
    <div class="footer-content">
        {% load static %}
        <div class="footer-links">

            <div class="footer-column">
                <img class="robo-stock-logo" src="{% static 'RoboStock/Images/RoboStock Logo (Black)/Color logo - no background.svg' %}" alt="Robo Stock Logo">
            </div>

            <div class="footer-column">
                <div class="footer-header">About</div>
                <ul>
                    <li><a href="#" class="list-item">About RoboStock</a></li>
                    <li><a href="#" class="list-item">How it works</a></li>
                    <li><a href="#" class="list-item">Careers</a></li>
                    <li><a href="#" class="list-item">Press</a></li>
                    <li><a href="#" class="list-item">Blog</a></li>
                    <li><a href="#" class="list-item">Forum</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <div class="footer-header">Support</div>
                <ul>
                    <li><a href="#" class="list-item">Help Center</a></li>
                    <li><a href="#" class="list-item">Contact us</a></li>
                    <li><a href="#" class="list-item">Privacy policy</a></li>
                    <li><a href="#" class="list-item">Terms of service</a></li>
                    <li><a href="#" class="list-item">Trust and safety</a></li>
                    <li><a href="#" class="list-item">Accessibility</a></li>
                </ul>
            </div>
        
            <div class="footer-column">
                <div class="footer-header">Get the app</div>
                <ul>
                    <li><a href="#" class="list-item">RoboStock for Android</a></li>
                    <li><a href="#" class="list-item">RoboStock for iOS</a></li>
                    <li><a href="#" class="list-item">Mobile site</a></li>
                </ul>
            </div>

        </div>
    </div>
    <img class="footer-divider" src="https://c.animaapp.com/ebA20gBS/img/footer---divider-2.svg" alt="Footer Divider">
    <div class="bottom">
        <div class="social-media-stack">
            <img class="img-2" src="https://c.animaapp.com/ebA20gBS/img/24---twitter-2.svg" alt="Twitter">
            <div class="img-2"><img class="union" src="https://c.animaapp.com/ebA20gBS/img/union-2.svg" alt="Union"></div>
            <img class="img-2" src="https://c.animaapp.com/ebA20gBS/img/24---facebook-2.svg" alt="Facebook">
        </div>
        <div class="copyright">© 2020 RoboStock incorporated</div>
    </div>
</footer>