<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "RoboStock/css/globals.css" %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static "RoboStock/css/styleguide.css" %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static "RoboStock/css/style.css" %}" />
    <title>Help</title>
</head>
<body>

<div class="div-wrapper">
    <div class="desktop-full">
        <a href="/"><img class="robo-stock-logo" src="https://c.animaapp.com/ebA20gBS/img/robostocklogo-2.svg"/></a>
    <div class="nav-navigation-menu">
        <a href="/about us">
            <div class="nav-list-item">
                <div class="label">About Us</div>
            </div>
        </a>
        <a href="/help">
            <div class="nav-list-item">
                <div class="label">Help</div>
            </div>
        </a>
      <div class="nav-list-item"><div class="label">Sign in</div></div>
      <button class="button"><div class="text-wrapper">Sign up</div></button>
    </div>
    </div>

    <div style="width: 1440px; height: 670px; padding-top: 107px; padding-bottom: 131px; padding-left: 173px; padding-right: 173px; background: white; justify-content: center; align-items: center; display: inline-flex">
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 64px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div style="width: 930px; text-align: center; color: #1D242A; font-size: 40px; font-family: Epilogue; font-weight: 700; line-height: 64px; word-wrap: break-word">A trading partner you can trust</div>
          <div style="width: 930px; text-align: center; color: #5C7184; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">At RoboStock, we rigorously focus on quality and transparency. Our order execution quality is independently monitored. Order execution with high quality means: you save money with every investment you make with RoboStock.</div>
        </div>
        <div style="justify-content: flex-start; align-items: flex-start; gap: 120px; display: inline-flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">

            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
              <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                <div style="text-align: center; color: #1D242A; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 32px; word-wrap: break-word">Quality execution on every trade</div>
                <div style="width: 487px; text-align: center; color: #5C7184; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Backed by multiple analyzes and precise algorithms providing quality execution decisions on every trade. Guarantee your comfort and perfection in making decisions.</div>
              </div>
            </div>
          </div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">

            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
              <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                <div style="text-align: center; color: #1D242A; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 32px; word-wrap: break-word">Transparent & competitive pricing</div>
                <div style="width: 487px; text-align: center; color: #5C7184; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Provides transparency Pricing Emphasizes Value, not Price. As price becomes clearer to everyone in the market, each competitor's value also comes into sharper focus.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 1440px; height: 540px; padding-left: 141px; padding-right: 141px; padding-top: 66px; padding-bottom: 66px; background: white; justify-content: center; align-items: center; display: inline-flex">
      <div style="flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: center; gap: 80px; display: inline-flex">
      {% load static %}
      <img style="width: 544px; height: 408px; border-radius: 10px" src="{% static "RoboStock/Images/img.png" %}" />

        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
          <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div style="flex: 1 1 0; color: #1D242A; font-size: 40px; font-family: Epilogue; font-weight: 700; line-height: 64px; word-wrap: break-word">Our Vision</div>
          </div>
          <div style="align-self: stretch; height: 96px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
              <div style="flex: 1 1 0; text-align: justify; color: #5C7184; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Our vision is to become a trusted advisor, intermediary, and partner to assist customers in determining financial strategies in the capital market and Become a professional reinsurance broker with a global reputation</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 1440px; height: 540px; padding-left: 141px; padding-right: 141px; padding-top: 66px; padding-bottom: 66px; background: white; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: center; gap: 80px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
          <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div style="color: #1D242A; font-size: 40px; font-family: Epilogue; font-weight: 700; line-height: 64px; word-wrap: break-word">Our Mission</div>
          </div>
          <div style="align-self: stretch; height: 96px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
              <div style="flex: 1 1 0; text-align: justify; color: #5C7184; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Providing excellent service from risk placement to settlement of compensation in the interest of obtaining the best capital market results. Maintain the profitability of each user with the aim of meeting the expectations of each user</div>
            </div>
          </div>
        </div>
            {% load static %}
            <img style="width: 544px; height: 408px; border-radius: 10px" src="{% static "RoboStock/Images/img_1.png" %}" />
        </div>
    </div>

    <div class="mywebsite-desktop">
        <div class="footer-content">
          <img class="img" src="https://c.animaapp.com/ebA20gBS/img/robostocklogo-1.svg" />
          <div class="div-2">
            <div class="div-3"><div class="footer-header">About</div></div>
            <div class="div-3"><div class="list-item">About RoboStock</div></div>
            <div class="div-3"><div class="list-item">How it works</div></div>
            <div class="div-3"><div class="list-item">Careers</div></div>
            <div class="div-3"><div class="list-item">Press</div></div>
            <div class="div-3"><div class="list-item">Blog</div></div>
            <div class="div-3"><div class="list-item">Forum</div></div>
          </div>
          <div class="div-2">
            <div class="div-3"><div class="footer-header">Support</div></div>
            <div class="div-3"><div class="list-item">Help Center</div></div>
            <div class="div-3"><div class="list-item">Contact us</div></div>
            <div class="div-3"><div class="list-item">Privacy policy</div></div>
            <div class="div-3"><div class="list-item">Terms of service</div></div>
            <div class="div-3"><div class="list-item">Trust and safety</div></div>
            <div class="div-3"><div class="list-item">Accessibility</div></div>
          </div>
          <div class="column-mobile">
            <div class="footer-link-column">
              <div class="div-3"><div class="footer-header">Get the app</div></div>
              <div class="div-3"><div class="list-item">RoboStock for Android</div></div>
              <div class="div-3"><div class="list-item">RoboStock for iOS</div></div>
              <div class="div-3"><div class="list-item">Mobile site</div></div>
            </div>
            <div class="link-app-store">
              <img class="element-apple-mac" src="https://c.animaapp.com/ebA20gBS/img/24---apple-mac.svg" />
              <img class="download-on-the" src="https://c.animaapp.com/ebA20gBS/img/download-on-the-2.svg" />
              <img class="app-store" src="https://c.animaapp.com/ebA20gBS/img/app-store-2.svg" />
            </div>
            <div class="link-google-play"></div>
          </div>
        </div>
        <img class="footer-divider" src="https://c.animaapp.com/ebA20gBS/img/footer---divider-2.svg" />
        <div class="bottom">
          <div class="social-media-stack">
            <img class="img-2" src="https://c.animaapp.com/ebA20gBS/img/24---twitter-2.svg" />
            <div class="img-2"><img class="union" src="https://c.animaapp.com/ebA20gBS/img/union-2.svg" /></div>
            <img class="img-2" src="https://c.animaapp.com/ebA20gBS/img/24---facebook-2.svg" />
          </div>
          <div class="copyright">© 2020 RoboStock incorporated</div>
        </div>
    </div>
</div>

</body>
</html>