<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Title {%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'RoboStock/css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'RoboStock/css/styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'RoboStock/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>

    <!-- Header -->
    {%block header%}
        {%include 'includes/header.html'%}
    {%endblock%}

    <!-- Content -->
    <div class="content">
        {%block content%}
        {%endblock%}
    </div>

    <!-- Footer -->
    {%block footer%}
        {%include 'includes/footer.html'%}
    {%endblock%}

    
</body>
</html>